.flex{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    
}
.item{
    
    background-color: white;
    padding: 350px;
    width: 800px;
    height: 89px;
    text-align: center;
    border-radius: 50px;
    font-size: 70px;
    
}